### PCA or principal component analysis is a dimensionality reduction technique that can help us reduce dimensions of dataset that we use in machine learning for training

In [54]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [55]:
df = pd.read_csv('C:/Users/Drosxo/heart.csv')

In [56]:
df.shape

(918, 12)

In [57]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [58]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [59]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [60]:
df['zscore1'] = ( df.Cholesterol - df.Cholesterol.mean() ) / df.Cholesterol.std()
df_no_outliers = df[(df.zscore1>-3) & (df.zscore1<3)] 
df[df['zscore1']< 3]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,zscore1
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0,0.824621
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1,-0.171867
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0,0.769768
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1,0.138964
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0,-0.034736
...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1,0.596068
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1,-0.053020
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1,-0.619830
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1,0.340090
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0,-0.217578

In [61]:
df_no_outliers.shape

(915, 13)

In [62]:
df['zscore2'] = ( df.RestingBP - df.RestingBP.mean() ) / df.RestingBP.std()
df_no_outliers = df[(df.zscore2>-3) & (df.zscore2<3)] 
df_no_outliers.shape

(910, 14)

In [63]:
df['zscore3'] = ( df.Age - df.Age.mean() ) / df.Age.std()

In [64]:
df_no_outliers= df[(df.zscore3>-3) & (df.zscore3<3)] 
df_no_outliers.shape

(918, 15)

In [65]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,zscore1,zscore2,zscore3
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0,0.824621,0.410685,-1.432359
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1,-0.171867,1.490940,-0.478223
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0,0.769768,-0.129442,-1.750404
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1,0.138964,0.302660,-0.584238
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0,-0.034736,0.950812,0.051853

In [66]:
df_no_outliers[df_no_outliers['zscore3']<-3]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease, zscore1, zscore2, zscore3]
Index: []

In [67]:
from sklearn.preprocessing import LabelEncoder

In [68]:
le_sex = LabelEncoder()
df_no_outliers['Sex_n'] = le_sex.fit_transform(df_no_outliers['Sex'])

In [69]:
df_no_outliers.drop(['Sex'],axis='columns')

,Age,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,zscore1,zscore2,zscore3,Sex_n
0,40,ATA,140,289,0,Normal,172,N,0.0,Up,0,0.824621,0.410685,-1.432359,1
1,49,NAP,160,180,0,Normal,156,N,1.0,Flat,1,-0.171867,1.490940,-0.478223,0
2,37,ATA,130,283,0,ST,98,N,0.0,Up,0,0.769768,-0.129442,-1.750404,1
3,48,ASY,138,214,0,Normal,108,Y,1.5,Flat,1,0.138964,0.302660,-0.584238,0
4,54,NAP,150,195,0,Normal,122,N,0.0,Up,0,-0.034736,0.950812,0.051853,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,TA,110,264,0,Normal,132,N,1.2,Flat,1,0.596068,-1.209697,-0.902283,1
914,68,ASY,144,193,1,Normal,141,N,3.4,Flat,1,-0.053020,0.626736,1.536064,1
915,57,ASY,130,131,0,Normal,115,Y,1.2,Flat,1,-0.619830,-0.129442,0.369898,1
916,57,ATA,130,236,0,LVH,174,N,0.0,Flat,1,0.340090,-0.129442,0.369898,0
917,38,NAP,138,175,0,Normal,173,N,0.0,Up,0,-0.217578,0.302660,-1.644389,1

In [70]:
le_slope = LabelEncoder()
df_no_outliers['ST_Slope_n'] = le_slope.fit_transform(df_no_outliers['ST_Slope'])

In [71]:
le_ExerciseAngina = LabelEncoder()
df_no_outliers['ExerciseAngina_n'] = le_ExerciseAngina.fit_transform(df_no_outliers['ExerciseAngina'])

In [72]:
df_no_outliers['RestingECG_n'] = LabelEncoder().fit_transform(df_no_outliers['RestingECG'])

In [73]:
df_no_outliers['ChestPainType'] = LabelEncoder().fit_transform(df_no_outliers['ChestPainType'])

In [74]:
df_no_outliers.drop(['Sex','ChestPainType','RestingECG','ExerciseAngina','ST_Slope'],axis='columns')

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease,zscore1,zscore2,zscore3,Sex_n,ST_Slope_n,ExerciseAngina_n,RestingECG_n
0,40,140,289,0,172,0.0,0,0.824621,0.410685,-1.432359,1,2,0,1
1,49,160,180,0,156,1.0,1,-0.171867,1.490940,-0.478223,0,1,0,1
2,37,130,283,0,98,0.0,0,0.769768,-0.129442,-1.750404,1,2,0,2
3,48,138,214,0,108,1.5,1,0.138964,0.302660,-0.584238,0,1,1,1
4,54,150,195,0,122,0.0,0,-0.034736,0.950812,0.051853,1,2,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,110,264,0,132,1.2,1,0.596068,-1.209697,-0.902283,1,1,0,1
914,68,144,193,1,141,3.4,1,-0.053020,0.626736,1.536064,1,1,0,1
915,57,130,131,0,115,1.2,1,-0.619830,-0.129442,0.369898,1,1,1,1
916,57,130,236,0,174,0.0,1,0.340090,-0.129442,0.369898,0,1,0,0
917,38,138,175,0,173,0.0,0,-0.217578,0.302660,-1.644389,1,2,0,1

In [75]:
df_no_outliers.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,zscore1,zscore2,zscore3,Sex_n,ST_Slope_n,ExerciseAngina_n,RestingECG_n
0,40,M,1,140,289,0,Normal,172,N,0.0,Up,0,0.824621,0.410685,-1.432359,1,2,0,1
1,49,F,2,160,180,0,Normal,156,N,1.0,Flat,1,-0.171867,1.490940,-0.478223,0,1,0,1
2,37,M,1,130,283,0,ST,98,N,0.0,Up,0,0.769768,-0.129442,-1.750404,1,2,0,2
3,48,F,0,138,214,0,Normal,108,Y,1.5,Flat,1,0.138964,0.302660,-0.584238,0,1,1,1
4,54,M,2,150,195,0,Normal,122,N,0.0,Up,0,-0.034736,0.950812,0.051853,1,2,0,1

In [76]:
data = df_no_outliers.drop(['Sex','ChestPainType','RestingECG','ExerciseAngina','ST_Slope','zscore1','zscore2'],axis='columns')

In [77]:
data.head()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease,zscore3,Sex_n,ST_Slope_n,ExerciseAngina_n,RestingECG_n
0,40,140,289,0,172,0.0,0,-1.432359,1,2,0,1
1,49,160,180,0,156,1.0,1,-0.478223,0,1,0,1
2,37,130,283,0,98,0.0,0,-1.750404,1,2,0,2
3,48,138,214,0,108,1.5,1,-0.584238,0,1,1,1
4,54,150,195,0,122,0.0,0,0.051853,1,2,0,1

In [84]:
X = data[['Age','RestingBP','Cholesterol','FastingBS','MaxHR','Oldpeak','Sex_n','ST_Slope_n','ExerciseAngina_n','RestingECG_n']].values

In [85]:
target = df.HeartDisease
df = df.drop(columns = 'HeartDisease')

AttributeError: 'DataFrame' object has no attribute 'HeartDisease'

In [81]:
target.shape

(918,)

In [82]:
data.shape

(918, 12)

In [83]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled

NameError: name 'X' is not defined

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_scaled, target, test_size=0.2, random_state=30)

In [ ]:
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.tree import DecisionTreeClassifier

In [ ]:
model_params = {
    'svm': {
        'model': svm.SVC(gamma='auto'),
        'params' : {
            'C': [1,10,20],
            'kernel': ['rbf','linear','sigmoid']
        }  
    },
    'random_forest': {
        'model': RandomForestClassifier(),
        'params' : {
            'n_estimators': [1,5,10,20,40,50,75,100,200,250,400,500]
        }
    },
    'logistic_regression' : {
        'model': LogisticRegression(solver='liblinear',multi_class='auto'),
        'params': {
            'C': [1,5,10]
        }
    },
    'naive_bayes_gaussian': {
        'model': GaussianNB(),
        'params': {}
   
    },
    'decision_tree': {
        'model': DecisionTreeClassifier(),
        'params': {
            'criterion': ['gini','entropy'],
            
        }
    }     
}

In [ ]:
from sklearn.model_selection import GridSearchCV
scores = []

for model_name, mp in model_params.items():
    clf =  GridSearchCV(mp['model'], mp['params'], cv=5, return_train_score=False)
    clf.fit(X_scaled, target)
    scores.append({
        'model': model_name,
        'best_score': clf.best_score_,
        'best_params': clf.best_params_
    })
    
db = pd.DataFrame(scores,columns=['model','best_score','best_params'])
db

In [ ]:
from sklearn.decomposition import PCA

pca = PCA(0.95)
X_pca = pca.fit_transform(X)
X_pca

In [ ]:
X_train_pca, X_test_pca, y_train, y_test = train_test_split(X_pca, target, test_size=0.2, random_state=30)

In [ ]:
model_params = {
    'svm': {
        'model': svm.SVC(gamma='auto'),
        'params' : {
            'C': [1,10,20],
            'kernel': ['rbf','linear','sigmoid']
        }  
    },
    'random_forest': {
        'model': RandomForestClassifier(),
        'params' : {
            'n_estimators': [1,5,10,20,40,50,75,100,200,250,400,500]
        }
    },
    'logistic_regression' : {
        'model': LogisticRegression(solver='liblinear',multi_class='auto'),
        'params': {
            'C': [1,5,10]
        }
    },
    'naive_bayes_gaussian': {
        'model': GaussianNB(),
        'params': {}
   
    },
    'decision_tree': {
        'model': DecisionTreeClassifier(),
        'params': {
            'criterion': ['gini','entropy'],
            
        }
    }     
}

In [79]:
from sklearn.model_selection import GridSearchCV
scores = []

for model_name, mp in model_params.items():
    clf =  GridSearchCV(mp['model'], mp['params'], cv=5, return_train_score=False)
    clf.fit(X_pca, target)
    scores.append({
        'model': model_name,
        'best_score': clf.best_score_,
        'best_params': clf.best_params_
    })
    
db = pd.DataFrame(scores,columns=['model','best_score','best_params'])
db

NameError: name 'model_params' is not defined

In [ ]:
from sklearn.ensemble import RandomForestClassifier

model_rf = RandomForestClassifier()
model_rf.fit(X_train_pca, y_train)
model_rf.score(X_test_pca, y_test)

In [ ]:
X = data[['Age','RestingBP','Cholesterol','FastingBS','MaxHR','Oldpeak','Sex_n','ST_Slope_n','ExerciseAngina_n','RestingECG_n']].values

In [ ]:
Y = target.values

In [ ]:
Y.shape

In [ ]:
X

In [ ]:
from sklearn.preprocessing import OneHotEncoder as ohe
from sklearn.compose import ColumnTransformer

ct = ColumnTransformer([('FastingBS','Sex_n','ST_Slope_n','ExerciseAngina_n','RestingECG_n', OneHotEncoder(), [3,6,7,8,9])], remainder = 'passthrough')

In [ ]:
ohe.fit_transform(X).toarray()

In [ ]:
from sklearn.base import

In [ ]:
X_train_pca, X_test_pca, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=30)